front-end/service-account.json

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
tags

# Unittest and coverage
htmlcov/*
.coverage
.tox
junit.xml
coverage.xml
.pytest_cache/