.table-sort[state="1"] {
  color: #333333;
}

.table-sort[state="2"] {
  color: #333333;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loading-indicator {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading-indicator div {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

#table tbody {
  height: 80%;
  overflow: auto;
  display: block;
}

#table th {
  vertical-align: middle;
}

#table th, #table td {
  padding: 5px;
}

#table thead, #table tfoot {
    width: 100%;
    table-layout: fixed;
    display: table;
    background-color:#545b62;
    color:white;
}

#table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

#table tbody tr:hover {
  cursor: pointer;
  background: rgba(0,123,255,.25);
}

#table tbody tr.selected {
  background: #999999;
}

#table td > div {
  overflow: auto;
}

#table {
  margin-bottom: 0;
}

.table-sort {
  font-size: 20px;
}

.search {
  cursor: text;
  margin: 5px 0;
  padding: 0 2px;
  font-size: 15px;
  color: white;
  border-radius: 2px;
  font-family: monospace;
  background: #666666;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

.search::placeholder {
  color: #aaaaaa;
  font-size: 11px;
}

.search:focus {
  outline: none;
}

#table td, #table th {
  border-style: none;
}

#table thead th {
  border-right: 1px solid white;
}

#statistics > * {
  margin-right: 20px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

#vs * {
  color: white;
}

.tab-select:hover {
  background-color: grey;
}

.tab-select {
  padding: 5px;
  border-radius: 5px;
  /* margin-right: 5px; */
  cursor: pointer;
  line-height: 100%;
  border: 1px solid grey;
  vertical-align: middle;
}

.tab-select.selected {
  background-color: grey;
}

#next-page.disabled, #prev-page.disabled {
  color: grey;
}

#next-page:not(.disabled), #prev-page:not(.disabled) {
  cursor: pointer;
}

.article-link {
  margin-bottom: 10px;
}

body {
  width: 100vw;
  height: 100vh;
  font-size:2vh;
}
