<head>
    Genie
</head>
<body>
    <div>
        <div id="list">
            <input id="search" placeholder="search by any term" style="height:5%">
            <table id="table" class="table">
                <thead>
                    <tr>
                        <th>
                            Gene
                            <i class="fa fa-fw fa-sort" state=0 style="cursor:pointer"></i>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</body>