<!DOCTYPE html>
<link rel="stylesheet" href="static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/genie.css">

<div id="loading-indicator" style="display:none"><div></div></div>

<div style="display:flex;width:100%;height:65%;border-bottom:2px solid grey">
  <div style="width:65%;height:100%;background-color:#6c757d">
    <div style="width:100%;height:15%;display:flex;background-color:#666666">
      <img height="100%" src="/static/logo.png" />
      <div style="width:100%;height:100%;display:flex;justify-content:flex-end;align-items:center">
        <div style="margin-right:20px"><a id="export" class="btn btn-light">Export <span class="badge badge-dark"></span></a></div>
      </div>
    </div>
    <table id="table" class="table" style="width:100%;height:85%;background-color:#6c757d;font-size:12px">
      <thead style="height:25%;">
        <tr>
          {%for i in range(1, column_names | length)%}
            <th>
              <div style="display:flex;flex-direction:column;justify-content:space-between;height:100%">
                <div style="display:flex;justify-content:space-between">
                  <div>{{column_names[i]}}</div>
                  <div class="table-sort" state=0 column={{i}} style="cursor:pointer">⬍</div>
                </div>
                <div style="display:flex;justify-content:space-between">
                  {% if column_types[i] == "text" %}
                    <input class="search" column={{i}} autocomplete="off" placeholder="search" style="width:85px">
                  {% elif column_types[i] == "numeric" %}
                    <input class="search" type="number" step="any" column={{i}} autocomplete="off" placeholder="min" style="width:40px">
                    <input class="search" type="number" step="any" column={{i}} autocomplete="off" placeholder="max" style="width:40px">
                  {% endif %}
                </div>
              </div>
            </th>
          {%endfor%}
        </tr>
      </thead>
      <tbody style="height:65%"></tbody>
      <tfoot style="height:10%">
        <tr>
          <th style="text-align:left"><div id="prev-page" class="disabled" style="font-size:20px">◄</div></th>
          <th>page <span id="current-page" page="0">1</span> out of <span id="total-pages"></span></th>
          <th style="text-align:right"><div id="next-page" class="disabled" style="font-size:20px">►</div></th>
        </tr>
      </tfoot>
    </table>
  </div>
  <div style="width:35%;height:100%">
    <div id="stats" style="padding:10px;width:100%;height:15%;justify-content:space-between;display:flex;background-color:#666666;color:white;flex-wrap:wrap;align-items:center"></div>
    <div id="stats-plot" style="width:100%;height:85%"></div>
  </div>
</div>
<div id="vs" style="display:flex;width:100%;height:35%;background-color:#222222">
  <div style="width:50%;height:100%;border-right:2px solid grey">
    <div style="display:flex;justify-content:center;align-items:center;width:100%;height:10%;overflow:auto"><div style="margin:0"><span style="text-transform:uppercase" id="gene-name"></span> Gene Details</div></div>
    <div style="display:flex;width:100%;height:90%">
      <div style="width:50%;height:100%">
        <div id="gene-plot-select" style="width:100%;height:10%;display:flex;padding:0 10px;justify-content:center">
          <div style="margin-right:10px" id="gene-plot-select-1" class="tab-select">Publications</div>
          <div id="gene-plot-select-2" class="tab-select">Citations</div>
        </div>
        <div id="gene-plot" style="width:100%;height:90%"></div>
      </div>
      <div style="width:50%;height:100%">
        <div style="width:100%;height:10%;display:flex;justify-content:center">Related Articles</div>
        <div style="padding:10px;width:100%;height:90%">
          <ul id="gene-articles" style="overflow:scroll;height:90%;width:100%;overflow:auto"></ul>
        </div>
      </div>
    </div>
  </div>

  <div style="width:50%;height:100%;border-right:2px solid grey">
    <div style="display:flex;justify-content:center;align-items:center;width:100%;height:10%;overflow:auto"><div style="margin:0"><span style="text-transform:uppercase" id="disease-name"></span> Disease Details</div></div>
    <div style="display:flex;width:100%;height:90%">
      <div style="width:50%;height:100%">
        <div id="disease-plot-select" style="width:100%;height:10%;display:flex;padding:0 10px;justify-content:center">
          <div style="margin-right:10px" id="disease-plot-select-1" class="tab-select">Publications</div>
          <div id="disease-plot-select-2" class="tab-select">Citations</div>
        </div>
        <div id="disease-plot" style="width:100%;height:90%"></div>
      </div>
      <div style="width:50%;height:100%">
        <div style="width:100%;height:10%;display:flex;justify-content:center">Related Articles</div>
        <div style="padding:10px;width:100%;height:90%">
          <ul id="disease-articles" style="overflow:scroll;height:90%;width:100%;overflow:auto"></ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/plotly-latest.min.js"></script>
<script type="text/javascript">genie = {columns: JSON.parse('{{column_names | tojson}}')};</script>
<script type="text/javascript" src="/static/js/throttle-debounce.min.js"></script>
<script type="text/javascript" src="/static/js/fetcher.js"></script>
<script type="text/javascript" src="/static/js/updater.js"></script>
<script type="text/javascript" src="/static/js/selector.js"></script>
<script type="text/javascript" src="/static/js/binder.js"></script>
