<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<style>
  #table tbody {
    height: 90%;
    overflow: auto;
    display: block;
  }

  #table thead {
    height: 10%;
  }

  #table thead, tbody tr {
      display: table;
      width: 100%;
      table-layout: fixed;
  }

  #table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  #table tbody tr:hover {
    cursor: pointer;
    background: rgba(0,123,255,.25);
  }

  #table tbody tr.selected {
    background: #ebebeb;
  }

  #table td > div {
    overflow: auto;
  }

  #table {
    margin-bottom: 0;
  }

  #search {
    cursor: text;
    padding: 10px;
    font-size: 20px;
    border-radius: 8px;
    font-family: monospace;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 80px;
    background: crimson;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
  }

  #search::placeholder {
    color: white;
    font-size: 20px;
  }

  #search:focus {
    outline: none;
  }

  #table td, #table th {
    border-style: none;
  }

  #statistics > * {
    margin-right: 20px;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  #vs * {
    color: white;
  }

  #articles1 > *, #articles2 > * {
    margin-bottom: 10px;
  }

  body {
    width: 100vw;
    height: 100vh;
  }
</style>

<div style="display:flex;width:100%;height:60%">
  <div style="width:40%;height:100%;background-color:#6c757d">
    <div style="width:100%;height:15%;display:flex;background-color:#666666">
      <img height="100%" src="/static/logo.png" />
      <div style="width:100%;height:100%;display:flex;justify-content:flex-end">
        <div style="height:100%;display:flex;flex-direction:row;justify-content:flex-end;align-items:flex-end">
          <input id="search" autocomplete="off" placeholder="search by any term" style="height:50%;border-style:none;color:white;background-color:#888888">
        </div>
      </div>
    </div>
    <table id="table" class="table" style="width:100%;height:85%;background-color:#6c757d;">
      <thead style="background-color:#545b62;color:white;height:40px;">
        <tr>
          {%for i in range(columns | length)%}
            <th>
              {{columns[i]}}
              <i class="fa fa-fw fa-sort" state=0 style="cursor:pointer"></i>
            </th>
          {%endfor%}
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
  <div style="width:60%;height:100%">
    <div style="width:100%;height:15%;justify-content:space-between;display:flex;align-items:center;background-color:#666666;padding:10px 20px;color:white;">
      <div id="statistics" style="padding-left:20px;display:flex;font-size:2.5vh">
        <div>Breakout Coefficient <span class="badge badge-info">9001</span></div>
        <div>Current Event Score <span class="badge badge-info">123</span></div>
        <div>Classifier Score <span class="badge badge-info">0.5</span></div>
      </div>
      <div><a id="export" class="btn btn-light">Export <span class="badge badge-dark"></span></a></div>
    </div>
    <div id="scatter" style="width:100%;height:85%"></div>
  </div>
</div>
<div id="vs" style="display:flex;width:100%;height:40%;background-color:#222222">
  <div style="width:50%;height:100%;border-right:2px solid grey">
    <div style="display:flex;justify-content:center;align-items:center;width:100%;height:10%"><h4 style="margin:0">Gene Details<h4></div>
    <div style="display:flex;width:100%;height:90%">
      <div id="histo1" style="width:50%;height:100%"></div>
      <div style="width:50%;height:100%;padding:20px">
        <h4 id="articles1h" style="height:20%"></h4>
        <div id="articles1" style="overflow:scroll;height:80%;overflow:auto"></div>
      </div>
    </div>
  </div>

  <div style="width:50%;height:100%">
    <div style="display:flex;justify-content:center;align-items:center;width:100%;height:10%"><h4 style="margin:0">Disease Details<h4></div>
    <div style="display:flex;width:100%;height:90%">
      <div id="histo2" style="width:50%;height:100%"></div>
      <div style="width:50%;height:100%;padding:20px">
        <h4 id="articles2h" style="height:20%"></h4>
        <div id="articles2" style="overflow:scroll;height:80%;overflow:auto"></div>
      </div>
    </div>
  </div>
</div>

<script>
  var genieData = JSON.parse('{{data | tojson}}')
  var numColumns = {{columns | length}}
</script>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" charset="utf8" src="js/list.js"></script>
